<div class="nav-menu">
    <NavLink class="nav-link" href="/login">Авторизация</NavLink>
    <NavLink class="nav-link" href="/register">Регистрация</NavLink>
    <NavLink class="nav-link" href="/profile">Личный кабинет</NavLink>
    <NavLink class="nav-link" href="/books">Книги</NavLink>
    <NavLink class="nav-link" href="/books/edit/0">Добавить книгу</NavLink>
    <NavLink class="nav-link" href="/swaps">Обмены</NavLink>
</div>